body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    width: 1200px;
    margin: 0 auto;
}
.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #1F1F1F;
        color: #FFFFFF;
        a {
            color: #FFFFFF;
        }
    }
}

/* Light mode styles */
@media (prefers-color-scheme: light) {
    body {
        background-color: #FFFFFF;
        color: #1F1F1F;
        a {
            color: #1F1F1F;
        }
    }
}